    .heading h1 {
        text-align: center;
    }
    
    h3 {
        text-align: center;
        color: #5098eb;
    }
    
    sidebar {
        text-align: center;
        height: 75vh;
        width: 20vw;
        background-color: #cd9595;
        float: left;
    }
    
    main img {
        display: block;
        width: 75vw;
        height: 75vh;
    }
    
    footer {
        color: #1809f1;
        font-size: 40px;
        font-weight: bold;
        padding: 20px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
    
    h2 {
        color: #c64085;
        text-align: center;
    }